h1{
	text-align: center;
	color: #55715c;
	background-color :rgba(192,192,192,0.7);
	width: 56%;
	margin-left: 20%;
	border-radius : 10px;
}
#conteneur{
	width: 60%;
	margin-left: 23%;
	text-align: center;
}
.blockPhoto{
	border-radius : 10px;
	padding: 5px 5px 5px 5px;
	border:1px white solid;	
	margin: auto;
	float: left;
	background-color: rgba(192,192,192,0.7);
}

img{
	width: 300px;
	heigth: 300px;
	
}
#menu {
	
	
}
.icon {
	height: 20px;
	width: 20px;
}
#action {
	width: 8%;
	margin-left: 450px;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  overflow: hidden;
}

.action {
  float: left;
  width : 25px;
  margin: 5px 5px 0 0;
}